---
subtitle: "Cloud"

links:
  - name: "Local"
    icon: "fas fa-network-wired"
    url: "#"

services:
  - name: "Applications"
    icon: "fa-solid fa-film"
    items:
      - name: Jellyfin
        logo: "assets/tools/jellyfin.png"
        subtitle: "Stream your personal media collection"
        url: "https://jellyfin.domain.tld/web"
      - name: "Jellyseerr"
        logo: "assets/tools/jellyseerr.png"
        subtitle: "Request platform for Jellyfin media"
        url: "https://jellyseerr.domain.tld"
      - name: "Tautulli"
        logo: "assets/tools/tautulli.png"
        subtitle: "Monitor server activity and user statistics"
        url: "https://tautulli.domain.tld"
  - name: "Technical"
    icon: "fa-solid fa-helmet-safety"
    class: "highlight-purple"
    items:
      - name: "RDT Client"
        logo: "assets/tools/rdtclient.png"
        subtitle: "Torrents downloader and manager"
        url: "https://rdtclient.domain.tld"
      - name: "Prowlarr"
        logo: assets/tools/prowlarr.png
        subtitle: "Indexer manager for Sonarr and Radarr"
        url: https://prowlarr.domain.tld
      - name: "Radarr"
        logo: assets/tools/radarr.png
        subtitle: "Automated movie downloader"
        url: https://radarr.domain.tld
      - name: "Sonarr"
        logo: assets/tools/sonarr.png
        subtitle: "Automated TV series downloader"
        url: https://sonarr.domain.tld
