[Unit]
Description=Jellyfin WebDAV Mount Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=@@APP_BASE_DIR@@/config/.env.default
EnvironmentFile=-@@APP_BASE_DIR@@/config/.env
ExecStartPre=-/bin/fusermount -uz @@APP_BASE_DIR@@/mnt/webdav
ExecStartPre=/bin/mkdir -p @@APP_BASE_DIR@@/mnt/webdav
ExecStart=@@APP_BASE_DIR@@/bin/jellyfin-webdav.sh
ExecStop=/bin/fusermount -u @@APP_BASE_DIR@@/mnt/webdav
Restart=always
RestartSec=5
SyslogIdentifier=jellyfin-webdav

[Install]
WantedBy=multi-user.target
